.top-bar .nav-item {
  padding-left: 2vw;
  display: inline-block;
}

nav {
  padding: 0px;
}

nav.top-bar-wrap {
  background: #b6b6b6;
}

.top-bar-wrap {
  height: 40px;
  line-height: 40px;
}

.main-nav-wrap {
  height: 80px;
  line-height: 80px;
}

nav.main-nav-wrap {
  background: #0049a8;
  font-size: 1.25rem;
}

nav.top-bar-wrap ul,
nav.main-nav-wrap ul {
  margin-bottom: 0px;
  margin-top: 0px;
}

a.nav-link:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-left: 12px solid rgba(0, 0, 0, 0.3);
}

a.nav-link {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  transform: skew(-25deg);
  transition: all 400ms ease-out;
}

a .inner-link {
  display: inline-block;
  transform: skew(25deg);
}

.nav-link {
  padding: 0px;
}

.top-bar-wrap a {
  padding-left: 12px;
}

.main-nav-wrap a {
  padding-left: 18px;
}

.brand-logo img {
  height: 110px;

  transform: skew(25deg);
}

.brand-phone a {
  display: block;
  font-size: 1.25em;
  text-decoration: none;
  color: #5081db;
  letter-spacing: 2px;
  height: 0px;
  line-height: 1.5em;
  text-shadow: 0vw 0vw 1vw rgb(221, 240, 255);
  transform: skew(25deg);
  font-family: 'Comic Sans MS', cursive;
}

.brand-phone,
.brand-logo {
  padding-right: 5vw;
  padding-top: 0.5vw;
  position: absolute;
  top: 0;
  height: 120px;
  transform: skewX(-25deg);
}

.brand-logo {
  left: -30px;
  padding-left: 70px;
  background: #0049a8;
  border-right: 2px solid #b6b6b6;
}

.brand-phone {
  right: 0;
  right: -30px;
  padding-right: 70px;
  background: #b6b6b6;
  border-left: 3px solid #0049a8;
}
.pad {
  text-shadow: 0vw 0vw 1vw rgb(255, 255, 255);
  font-weight: 300px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-family: 'Comic Sans MS', cursive;
}
.new {
  text-align: center;
}
.line {
  width: 100%;
  border-top: 0.25vw solid rgb(194, 194, 194);
}
.lit {
  border: 5px solid rgb(54, 54, 54);
  margin-left: 3vw;
  margin-top: 3vw;
  padding: 10px;
  border-radius: 2vw;
  text-align: center;
  font-family: "Comic Sans MS", cursive;
}
.baby {
  width: 120%;
  height: 93%;
  border: 5px solid rgb(49, 49, 49);
  margin-left: 3vw;
  margin-top: 3vw;
  border-radius: 2vw;
  text-align: center;
  min-width: 500px;
  min-height: 500px;
  max-width: 1000px;
  max-height: 1000px;
}
.lit1 {
  border: 5px solid rgb(54, 54, 54);
  margin-left: 13vw;
  margin-top: 3vw;
  padding: 20x;
  border-radius: 2vw;
  text-align: center;
  height: 100%;
  font-family: "Comic Sans MS", cursive;
}
.baby1 {
  width: 120%;
  height: 80%;
  border: 5px solid rgb(49, 49, 49);
  margin-left: 1.5vw;
  margin-top: 3vw;
  border-radius: 2vw;
  text-align: center;
  min-width: 250px;
  min-height: 25px;
  max-width: 750px;
  max-height: 1000px;
}

body {
  overflow-x: hidden;
}

 #text1 {
  font-size: 1.5vw;
 }
 #text2 {
  font-size: 1.5vw;
 }

 .lit2 {
  border: 5px solid rgb(54, 54, 54);
  margin: 5vw;
  width: 90%;
  padding: 20x;
  border-radius: 2vw;
  text-align: center;
  font-family: "Comic Sans MS", cursive;
  font-size: 3vw;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  font-family: "Comic Sans MS", cursive;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-family: "Comic Sans MS", cursive;

}

input, textarea {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.b11 {
  background-color: #4c6daf;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Comic Sans MS", cursive;

}

.b11:hover {
  background-color: #454ba0;
  box-shadow: 0vw 0vw 3vw rgb(70, 67, 176);
}

.but {
padding-left: 5vw;
padding-top: 2vw;
}
.but1 {
background-color: #4c6daf;
padding: 2vw;
border: .25vw solid black;
border-radius: 8vw;
height: 75%;
padding-bottom: 4vw;
box-shadow: 0vw 0vw 1vw rgb(97, 97, 97);
font-size: 2vw;
font-weight: 1000;
font-family: "Comic Sans MS", cursive;
text-shadow: 0vw 0vw 1vw white;
color: white;
}

.but1:hover {
  box-shadow: 0vw 0vw 2vw 1vw rgb(136, 158, 246);
  background-color: rgb(136, 158, 246);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
}
.textsi {
  font-size: 2vw;
}